name: Publish Release

on:
  push:
    branches: [main]    

jobs:
  publish-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # 必须获取完整历史用于 Semantic Release 分析
          persist-credentials: false # 使用 token 进行操作
      
      # 解决 git fetch 报错
      - name: Force fetch tags
        run: git fetch --tags --force

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install Dependencies
        run: npm install

      - name: Run semantic-release
        run: npx semantic-release
        env:
          # NPM发布令牌（存在GitHub Secrets中）
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          # GitHub令牌（自动生成，用于创建Tag/Release）
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}